body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    place-items: center;
    background: #0d2b33;
}


#container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    margin: auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    color: #333;
}

.button {
    display: inline-block;
    background-color: #0d2b33;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    background: #0d2b33;
}

a {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #45a049;
}

#crudSection {
    max-width: 800px;
    margin: 20px auto;
}

.user-item {
    background-color: #0d2b33;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.usuario-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}


.btn-container {
    margin-left: 10px;
    margin-top: 5px;
}

.btn-container button {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

button {
    cursor: pointer;
    padding: 10px 15px;
    margin-right: 5px;
    background-color: #0d2b33;
    color: white;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0d2b33;
}

#updateFormContainer {
    max-width: 400px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input,
select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #0d2b33;
    color: white;
}

input[type="submit"] {
    background-color: #0d2b33;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #0d2b33;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

span {
    color: red;
}

#act {
    background-color: #0d2b33;
    color: white;
    border: none;
    padding-bottom: 1px;
}

#bor {
    background-color: #0d2b33;
    color: white;
    border: none;
    padding-top: 1px;
}